.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fafafaad;
}

.cart-img {
  height: 400px;
}

.btn-secondary {
  margin-top: 30px;
}
